### Project ###
docs/apidocs
denspp/__init__.py
**/Config_*.yaml
**/Config_*.json
**/.venv
**/venv
**/.devenv
**/build*
**/src
**/config
**/data
**/dataset
**/runs
**/temp_*
.python-version
.devenv.flake.nix
**/*.csv

#macos
**/.DS_Store

#VsCode
.vscode

# Just for not uploading new features/files into main folder (just for local development)
**/src_*
**/main_*.py
**/access_cloud.json

### PyCharm+all template
**/.idea
**/.idea_modules
*.DS_Store
# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class
# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
