# Just for not uploading new features/files into main folder (just for local development)
**/src_*
**/main_*.py
**/access_cloud.json

# project
docs/apidocs
**/Config_*.yaml
**/Config_*.json
build/
data/
dataset/
runs/
temp_*
**/*.csv

# IDE
**/.DS_Store
.vscode/
.idea/
.idea_modules

## Python
.venv/

# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class
# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
