numpy
matplotlib
fxpmath
tqdm
mat73

# Libs for reading electrophysiology datasets
neo

# Libs for NN with PyTorch
scipy
scikit-learn
torch
pynvml
torchinfo
torchvision
tensorboard
elasticai-creator

# Libs for neuromorphic training of Spiking Neural Networks
# snntorch
py-cpuinfo